table
  margin: auto
  box-sizing: border-box;
button
  height: 50px
  padding-left: 15px
  padding-right: 15px
  margin: 7px
  opacity: 0.5
  text-transform: uppercase
  font-style: italic
  font-weight: bold
  color: white
  outline:0 none !important
  border: 0px
  border-radius: 3px
  background-color: #A9A9A9
  box-shadow: 0 0 2px rgba(0,0,0,0.3)
button:hover
  opacity: 1
.Calendar
  text-align: center;
